@model List<Multa>

@{
    ViewData["Title"] = "Multas";
    var token = ViewBag.Token as string;
}

<section class="vh-100 p-5 bg-black flex-column d-flex justify-content-start align-items-center">
    <h1 class="text-white">Multas de @ViewBag.idBanner</h1>
    @if (Model.Count > 0)
    {
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Razon</th>
                <th scope="col">Monto</th>
                <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var multa in Model)
            {
                <tr>
                    <td>@multa.Razon</td>
                    <td>@multa.Monto</td>
                    <td>
                        <a asp-route-token=@token asp-route-multaId="@multa.MultaId" asp-action="Edit"
                           class="btn btn-secondary">
                            <i class="ri-pencil-line me-2"></i>Editar
                        </a>
                        <a asp-route-token=@token asp-action="Delete" asp-route-multaId="@multa.MultaId" asp-route-idBanner="@multa.AyudanteId"
                           class="btn btn-danger">
                            <i class="ri-delete-bin-line me-2"></i>Eliminar
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <h3 class="text-white">No hay multas para @ViewBag.idBanner</h3>
    }
</section>